# Python 가상환경 무시
.venv/

# pycache (파이썬 임시파일)
__pycache__/
*.py[cod]

# 환경 변수 파일 (.env 같은)
.env

# VSCode 설정 폴더 (선택)
.vscode/

# MacOS, Windows 자동 생성 파일 (선택)
.DS_Store
Thumbs.db

# SQLite 데이터베이스 파일 (로컬 데이터)
*.db
